@{
    ViewData["Title"] = "Home Page";
}

    <script src="~/Resources/IndianRetailSuplier/js/Module/Category/AllCateogry.js"></script>
  
    
    <script>
        $(function () {
            IndainRetailSupler.Modules.Category().init();
        });
    </script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
